[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "==13.0"
requests = "*"
python-dotenv = "*"
schedule = "*"
coinbase-advancedtrade-python = "*"
poetry = "*"
coinbase = "*"
update = "*"

[dev-packages]

[requires]
python_version = "3.12"
