[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "==13.0"
requests = "*"
python-dotenv = "*"
schedule = "*"
metatrader5 = "*"
coinbase-advancedtrade-python = "*"
solana = "==0.33.0"
poetry = "*"

[dev-packages]

[requires]
python_version = "3.12"
